* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    /* font-weight: 700; */
}

.v-main {
    background-color: rgb(172, 180, 176) !important;
}

.fontall {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}



.headermodalstyle {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-bottom: 15px;
    /* text-shadow: 3px 3px 3px #aaa9a9; */
    background-color: #25695c;
    color: rgb(252, 247, 247);
}

.navbgset {
    background-color: SkyBlue;
}

.footernav {
    position: fixed;
    left: 0;
    padding-left: 10px;
    bottom: 0;
    width: 80%;
    /* background-color: rgb(53, 52, 52); */
    /* color: white; */
    text-align: center;
}

.fontall-center {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.v-sheet--offset {
    top: -29px;
    position: relative;
}

.apexcharts-legend {
    padding-left: 2px !important;
    margin-left: 1px !important;
}

.apexcharts-legend-text {
    /* font-size: 10px !important; */
}

.apexcharts-graphical {
    margin-right: 30px !important;
}

.v-list-item__icon {
    margin-right: 20px !important;
}

.v-list-group__header__append-icon {
    margin-left: 2px !important;
}

.v-list-item {
    padding-left: 10px !important;
    padding-right: 8px !important;

}

.itemparent {
    font-family: "Montserrat", sans-serif;
    font-size: 14px !important;
    font-weight: 700 !important;
}

.itemchild {
    font-family: "Montserrat", sans-serif;
    padding-left: 45px !important;
    font-size: 14px !important;
}

.invGmbr {}

@media (max-width: 500px) {
    .invGmbr {
        transform: scale(0.5);
    }
}

.fontprint {
    font-size: 12px !important;
    font-family: "Times New Roman", Times, serif;
}

.capture {
    font-size: 12px !important;
    font-family: "Times New Roman", Times, serif;
}

.printtable {
    border: 2px solid rgb(65, 240, 42) !important;
    font-family: "Times New Roman", Times, serif;
}

.table {
    font-size: 12px !important;
    border-collapse: collapse !important;
}


.table th {
    background-color: rgb(68, 66, 66) !important;
    color: white !important;
    -webkit-print-color-adjust: exact;
}

.table td {
    /* border: 1px solid rgb(77, 76, 76) !important; */
    color: rgb(10, 10, 10) !important;

}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.borderless td,
.borderless th {
    border: none;
}

.borderless {
    border: none !important;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody+tbody {
    border: 0;
}

.table .thead-dark th {
    color: inherit;
    border-color: #dee2e6;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody+tbody {
    border-top: 2px solid #dee2e6;
}

.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.notedprint {
    margin: 8px;
    padding: 8px;
}

.margininvoicedata {
    margin-bottom: 4px;
}

@media print {

    html,
    body {
        width: 210mm;
        height: 297mm;
    }

    .table {
        font-size: 12px !important;
        border-collapse: collapse !important;
    }


    .table th {
        background-color: rgb(68, 66, 66) !important;
        color: white !important;
        -webkit-print-color-adjust: exact;
    }

    .table td {
        /* border: 1px solid rgb(77, 76, 76) !important; */
        color: rgb(10, 10, 10) !important;

    }

    .text-left {
        text-align: left !important;
    }

    .text-right {
        text-align: right !important;
    }

    .text-center {
        text-align: center !important;
    }

    .borderless td,
    .borderless th {
        border: none;
    }

    .borderless {
        border: none !important;
    }

    .table-borderless th,
    .table-borderless td,
    .table-borderless thead th,
    .table-borderless tbody+tbody {
        border: 0;
    }

    .table .thead-dark th {
        color: inherit;
        border-color: #dee2e6;
    }

    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
    }

    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    .table tbody+tbody {
        border-top: 2px solid #dee2e6;
    }

    .table .thead-dark th {
        color: #fff;
        background-color: #343a40;
        border-color: #454d55;
    }

    .table .thead-light th {
        color: #495057;
        background-color: #e9ecef;
        border-color: #dee2e6;
    }

    .notedprint {
        margin: 8px;
        padding: 8px;
    }

    .margininvoicebot1 {
        margin-bottom: 4px !important;
    }

    .margininvoicebot2 {
        margin-bottom: 8px !important;
    }

    .font-weight-bold {
        font-weight: 700 !important;
    }
}